<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>상세보기 / <a href="/list">LIST</a></h3>
    Id : {{dto.idx}} <br />
    Hit : {{dto.hit}} <br />
    Writer : {{dto.writer}} <br />
    Title : {{dto.title}} <br />
    Content : {{dto.content}} <br />
    Date : {{dto.post_date}} <br />
    File : {{dto.filename}} <br /><br />
    <a href="/update_form/{{dto.idx}}">수정</a>
    <a href="/delete/{{dto.idx}}">삭제</a>
  </body>
</html>
