<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Insert</h3>
    <form action="/insert/" method="post" enctype="multipart/form-data">
      <!-- {% csrf_token %} -->
      Writer: <input type="text" name="writer" /><br />
      Title: <input type="text" name="title" /><br />
      Content: <textarea name="content" rows="5" cols="50"></textarea><br />
      File: <input type="file" name="file" /><br />
      <input type="submit" value="글쓰기" />
    </form>
  </body>
</html>
