{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<style>
  .col-sm-2 {
    font-size: 16px;
  }
</style>

<h3 style="text-align: center">상세보기</h3>
<br />

<div class="container" style="width: 800px">
  <div class="container">
    <p>
      <span class="badge badge-primary col-sm-2">No</span>
      <span class="col-sm-6">{{dto.id}}</span>
    </p>
    <hr />

    <p>
      <span class="badge badge-primary col-sm-2">조회수</span>
      <span class="col-sm-6">{{dto.hit}}</span>
    </p>
    <hr />

    <p>
      <span class="badge badge-primary col-sm-2">작성자</span>
      <span class="col-sm-6">{{dto.writer}}</span>
    </p>
    <hr />

    <p>
      <span class="badge badge-primary col-sm-2">제목</span>
      <span class="col-sm-6">{{dto.title}}</span>
    </p>
    <hr />

    <p>
      <span class="badge badge-primary col-sm-2">내용</span>
      <span class="col-sm-6">{{dto.content}}</span>
    </p>
    <hr />

    <p>
      <span class="badge badge-primary col-sm-2">작성일</span>
      <span class="col-sm-6">{{dto.post_date | date:'Y-m-d H:m'}}</span>
    </p>
    <hr />

    <p>
      <span class="badge badge-primary col-sm-2">첨부파일</span>
      <span class="col-sm-6">
        {{dto.filename}}
        {% if dto.filesize > 0 %}
          ( {{dto.filesize | intcomma}}KB )
        {% endif %}
      </span>
    </p>
    <hr />
  </div>

  <div class="container" style="text-align: center">
    <button type="button" class="btn btn-secondary mr-sm-1 _update" data-url="/update_form/{{dto.id}}">
      수정
    </button>
    <button type="button" class="btn btn-danger _delete" data-url="/delete/{{dto.id}}">
      삭제
    </button>
  </div>

  <div class="container">
    <div class="mt-5">
      <form action="/comment_insert/" method="post">
        <input type="hidden" name="id" value="{{dto.id}}" />
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" id="comment" rows="3" placeholder="Enter comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">답글 작성</button>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="mt-5">
      Comment ({{dto.comment_set.count}})
    </div>
  
    <div>
    {% if dto.comment_set.count > 0 %}
    <div>
      {% for comment in dto.comment_set.all %}
        <div class="py-1 text-muted">
          <span>{{comment.content}}</span>
          <span>// {{comment.writer}} // {{comment.post_date | date:'Y-m-d H:m'}}</span>
        </div>
      {% endfor %}
    </div>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $("._update").on("click", function () {
    alert('정말 수정하겠습니까?');
    location.href = $(this).data("url");
  });

  $("._delete").on("click", function () {
    alert('정말 삭제하겠습니까?');
    location.href = $(this).data("url");
  });
</script>
{% endblock %}
