{% extends 'base.html' %}
{% load static %}
{% load board_filter %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-end mb-3">
    <form action="/list" method="get" class="form-inline mr-3">
      <input
        type="text"
        class="form-control mr-sm-1"
        id="word"
        placeholder="Search"
        name="word"
        value="{{word}}" />
      <button type="submit" class="btn btn-primary">검색</button>
    </form>
  </div>
  <br />

  <h2 style="text-align: center">
    <a href="/list">게시판</a> (게시글: {{boardCount}}개)
  </h2>
  <br />

  <table class="table table-hover" style="text-align: center">
    <thead class="bg-primary" style="color: white">
      <tr>
        <th>No</th>
        <th>작성자</th>
        <th>제목</th>
        <th>작성일</th>
        <th>조회수</th>
        <th>첨부파일</th>
        <th>다운로드</th>
      </tr>
    </thead>

    <tbody>
      {% for board in pageList %}
      <tr>
        <td>{{rowNo | sub:forloop.counter0}}</td>
        <td>{{board.writer}}</td>
        <td><a href="/detail/{{board.id}}">{{board.title}}</a></td>
        <td>{{board.post_date | date:'Y-m-d H:m'}}</td>
        <td>{{board.hit}}</td>
        <td>
          {% if board.filesize > 0 %}
          <span class="_imgs" data-url="/download_count?id={{board.id}}">
            <img
              src="{% static 'images/download.svg' %}"
              style="width: 24px; cursor: pointer" />
          </span>
          {% endif %}
        </td>
        <td class="_downCnt">{{board.down}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul class="pagination" style="justify-content: center">
    {% if pageList.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{pageList.previous_page_number}}&word={{word}}">이전
      </a>
    </li>
    {% endif %}
    {% if pageList.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{pageList.next_page_number}}&word={{word}}">다음
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block script %}
<script>
  $("._imgs").on("click", function () {
    _imgs = $(this);
    $.ajax({
      type: "GET",
      url: $(this).data("url"),
      success: function (data) {
        _imgs.parent().parent().find("._downCnt").text(data.count);
        location.href = "/download?id=" + data.id;
      },
      error: function (e) {
        alert(e);
      },
    });
  });
</script>
{% endblock %}
