{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2>로그인</h2>
  <br />

  <form action="/login/" method="post">
    {% csrf_token %}
    {% include 'form_errors.html' %}
    <div class="form-group">
      <label for="username">사용자 이름</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter username"
        name="username"
        value="{{forms.username.value | default_if_none:''}}" />
    </div>

    <div class="form-group">
      <label for="password">비밀번호</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter password"
        name="password"
        value="{{forms.password.value | default_if_none:''}}" />
    </div>

    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
</div>
{% endblock %}
